@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*---HEADER---*/
header {
  background-color: whitesmoke; }
  header h1 {
    text-align: center;
    font-family: 'Cormorant Unicase', serif;
    font-size: 80px; }
  header nav .nav .nav-item .nav-link {
    text-decoration: none;
    font-family: 'Cormorant Unicase', serif;
    font-size: 20px;
    color: black; }
    header nav .nav .nav-item .nav-link:hover {
      color: gold;
      transition: all .3s; }

/*---MAIN---*/
/*-INDEX-*/
.cuerpoIndex section img {
  width: 100%; }

/*-BIO-*/
.cuerpoBio {
  font-family: 'Cormorant Unicase', serif; }
  .cuerpoBio h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 25px; }
  .cuerpoBio .sectionBio {
    font-size: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
    padding: 5px 25px 50px 100px; }
    .cuerpoBio .sectionBio .sectionBioText {
      font-size: 20px; }
    .cuerpoBio .sectionBio div img {
      width: 360px;
      height: 460px;
      border: 3px solid black; }

/*-FOTOS-*/
.cuerpoFotos h3 {
  font-family: 'Cormorant Unicase', serif;
  text-align: center;
  padding-top: 20px;
  font-size: 25px; }

.cuerpoFotos .sectionFotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center; }
  .cuerpoFotos .sectionFotos div img {
    width: 360px;
    border: 3px solid black;
    margin: 15px; }
    .cuerpoFotos .sectionFotos div img:hover {
      transform: scale(1.02);
      transition: ease all .3s; }
  .cuerpoFotos .sectionFotos div h4 {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    font-size: 15px; }
    .cuerpoFotos .sectionFotos div h4:hover {
      color: gold;
      transition: ease all .3s; }

/*-PRODU-*/
.cuerpoProdu {
  height: auto;
  justify-content: auto; }
  .cuerpoProdu h3 {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    padding-top: 20px;
    font-size: 25px; }
  .cuerpoProdu .sectionFotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center; }
    .cuerpoProdu .sectionFotos div img {
      width: 360px;
      border: 3px solid black;
      margin: 15px; }
      .cuerpoProdu .sectionFotos div img:hover {
        transform: scale(1.02);
        transition: ease all .3s; }
    .cuerpoProdu .sectionFotos div h4 {
      font-family: 'Cormorant Unicase', serif;
      text-align: center;
      font-size: 15px; }
      .cuerpoProdu .sectionFotos div h4:hover {
        color: gold;
        transition: ease all .3s; }

/*-CONTACTOS-*/
.cuerpoContactos {
  font-family: 'Cormorant Unicase', serif;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "h3 h3" "form img" "link link"; }
  .cuerpoContactos h3 {
    grid-area: h3;
    font-size: 25px;
    text-align: center;
    padding-top: 20px; }
  .cuerpoContactos .sectionContactosUno {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 55px; }
    .cuerpoContactos .sectionContactosUno form {
      grid-area: form; }
    .cuerpoContactos .sectionContactosUno .sectionContactosForm {
      grid-area: form;
      display: flex;
      flex-direction: column;
      gap: 8px; }
      .cuerpoContactos .sectionContactosUno .sectionContactosForm div input::placeholder {
        font-size: 16px;
        padding: 5px; }
      .cuerpoContactos .sectionContactosUno .sectionContactosForm .divContactos h3 {
        text-align: left; }
      .cuerpoContactos .sectionContactosUno .sectionContactosForm div .sectionContactosInput {
        font-size: 15px; }
        .cuerpoContactos .sectionContactosUno .sectionContactosForm div .sectionContactosInput:hover {
          color: gold;
          transition: ease all .3s; }
  .cuerpoContactos section div img {
    grid-area: img;
    width: 360px;
    height: 460px;
    border: 3px solid black; }
  .cuerpoContactos .sectionContactosDos {
    grid-area: link;
    padding-bottom: 30px;
    justify-content: center;
    display: flex; }
  .cuerpoContactos a {
    font-family: 'Cormorant Unicase', serif;
    font-size: 20px;
    text-decoration: none;
    color: black; }
    .cuerpoContactos a:hover {
      color: gold;
      transition: ease all .3s; }

/*---FOOTER---*/
footer {
  background-color: whitesmoke;
  padding: 15px; }
  footer p {
    color: black;
    font-family: 'Cormorant Unicase', serif;
    font-size: 10px;
    text-align: center; }
