@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------HEADER-----------------------------*/
header {
    background-color: whitesmoke;
}
header h1 {
    text-align: center;
    font-family: 'Cormorant Unicase', serif;
    font-size: 80px;
}
.nav-link {
    text-decoration: none;
    font-family: 'Cormorant Unicase', serif;
    font-size: 20px;
    color: black;
}
.nav a:hover{
    color: gold;
    transition: all .3s;
}
/*-------------------------------MAIN-----------------------------*/
/*-----INDEX-----*/
.cuerpoIndex section img {
    width: 100%;
}
/*-----BIO-----*/
.cuerpoBio {
    font-family: 'Cormorant Unicase', serif;
}
.cuerpoBio h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
.sectionBio {
    font-size: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
    padding: 5px 25px 50px 100px
}
.sectionBioText {
    font-size: 20px;
}
.cuerpoBio img {
    width: 360px;
    height: 460px;
    border: 3px solid black;
}
/*-----FOTOS-----*/
.cuerpoFotos h3 {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
.sectionFotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}
.sectionFotos img {
    width: 360px;
    border: 3px solid black;
    margin: 15px;
}
.sectionFotos img:hover {
    transform: scale(1.02);
    transition: ease all .3s ;
}
.sectionFotos h4 {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    font-size: 15px;
}
.sectionFotos h4:hover {
    color: gold;
    transition: ease all .3s;
}
/*-----PRODU-----*/
.cuerpoProdu {
    height: auto;
    justify-content: auto;
}
.cuerpoProdu h3 {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}
/*-----PRODU INT-----*/
.sectionProdu div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionProdu img {
    width: 80%;
    margin: auto;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}
/*-----CONTACTOS-----*/
.cuerpoContactos {
    font-family: 'Cormorant Unicase', serif;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h3 h3"
    "form img"
    "link link";
}
.cuerpoContactos h3 {
    grid-area: h3;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
.cuerpoContactos img {
    grid-area: img;
    width: 360px;
    height: 460px;
    border: 3px solid black;
}
.sectionContactosUno {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 55px;
}
.cuerpoContactos form {
    grid-area: form;
}
.sectionContactosForm {
    grid-area: form;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
input::placeholder {
    font-size: 16px;
    padding: 5px;
}
.sectionContactosDos {
    grid-area: link;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
}
.sectionContactosDos a {
    font-family: 'Cormorant Unicase', serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.sectionContactosDos a:hover {
    color: gold;
    transition: ease all .3s;
}
.divContactos h3 {
    text-align: left;
}
.sectionContactosInput {
    font-size: 15px;
}
.sectionContactosInput:hover {
    color: gold;
    transition: ease all .3s;
}
/*-------------------------------FOOTER-----------------------------*/
footer {
    background-color: whitesmoke;
    padding: 15px;
}
footer p {
    color: black;
    font-family: 'Cormorant Unicase', serif;
    font-size: 10px;
    text-align:center
}   
/*-------------------------------MEDIA QUERY-----------------------------*/
@media screen and (max-width:1070px) {
    .sectionBio img {
        width: 280px;
        height: 357px;
    }
}
@media screen and (max-width:950px) {
    .sectionBioText {
        font-size: 15px;
    }
}
@media screen and (max-width:980px) {
    .sectionBio img {
        width: 260px;
        height: 332px;
    }
}
@media screen and (max-width:850px) {
    .sectionBio {
        grid-template-columns: 100%;
        padding: 5px 50px 50px 50px
    }
}
@media screen and (max-width:765px) {
    .cuerpoContactos img {
        display: none;
    }
    .cuerpoContactos {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "h3"
        "form"
        "link";
    }
}
@media screen and (max-width:590px) {
    header h1 {
        font-size: 60px;
        padding-top: 30px;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        font-size: 15px;
    }
}
@media screen and (max-width:450px) {
    header h1 {
        font-size: 50px;
        padding-top: 40px;
    }
    .cuerpoBio h3 {
        font-size: 20px;
    }
    .nav-link {
        font-size: 12px;
    }
    footer {
        padding: 30px;
    }
}
@media screen and (max-width:440px) {
    footer {
        padding: 35px;
    }
}
@media screen and (max-width:425px) {
    header nav ul{
        padding-bottom: 12px;
    }
    footer {
        padding: 40px;
    }
    .cuerpoContactos form {
        padding-left: 70px;
    }
    .divContactos textarea {
        width: 90%;
    }
}
@media screen and (max-width:410px) {
    header h1 {
        font-size: 40px;
    }
    .cuerpoFotos h3 {
        font-size: 20px
    }
    .cuerpoProdu h3 {
        font-size: 20px
    }
    .sectionFotos img{
        width: 280px;
    }
    .cuerpoContactos h3 {
        font-size: 20px;
    }
    .cuerpoContactos form {
        padding-left: 50px;
    }
    footer {
        padding: 75px;
    }
}
@media screen and (max-width:370px) {
    .cuerpoContactos form {
        padding-left: 40px;
    }
}