/*---FOOTER---*/
footer {
    background-color: nth($colores, 1);
    padding: 15px;
    p {
        color: nth($colores, 2);
        font-family: 'Cormorant Unicase', serif;
        font-size: nth($fuente, 8);
        text-align:center
    }
}