/*---FOOTER---*/
footer {
    background-color: whitesmoke;
    padding: 15px;
    p {
        color: black;
        font-family: 'Cormorant Unicase', serif;
        font-size: 10px;
        text-align:center
    }
}