/*---HEADER---*/
header {
    background-color: nth($colores, 1);
    h1{
        text-align: center;
        font-family: 'Cormorant Unicase', serif;
        font-size: nth($fuente, 7);
    }
    nav {
        .nav {
            .nav-item{
                .nav-link{
                    text-decoration: none;
                    font-family: 'Cormorant Unicase', serif;
                    font-size: nth($fuente, 4);
                    color: nth($colores, 2);
                    &:hover {
                        color: nth($colores, 3);
                        transition: all .3s;
                    }
                }

            }
        }
    }
} 